/* 前台 */
$front_color_main: #C87A62;
$front_color_active: #D7BF9D;
$front_color_bcg: #f1eee3;
$front_color_disable: #5f5e5c;
/* 後台 */
$back_color_main: #0C3B59;
$back_color_hover: #A3AFBF;
$back_color_active: #4F6573;
$back_color_disable: #E6E6E6;
/* 文字 */
$color_444: #151515;
$color_555: #2b2b2b;
$color_888: #4E4E4E;
$color_999: #646464;
$color_fff: #fff;